<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta author="DanilD">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head> 
    <body>
        <nav>
          <ul>
            <li><a href="/posts">Посты</a></li>
            <li><a href="/posts/new">Добавить пост</a></li>
          </ul>
        </nav>
        <div class="home">
            <h1>Блог</h1>
            <div id="posts-wrapper">
            </div>
        </div>
        <script type="text/javascript">
        { 
            window.addEventListener('load', async () => {
                const posts = await fetch('/api/posts').then(data => data.json());
                document.querySelector('#posts-wrapper').innerHTML = '';
                for (let post of posts) {
                    document.querySelector('#posts-wrapper').innerHTML += 
                        `<div class="home-post">
                            <h3><a href='/posts/${post._id}'>${post.title}</a></h3>
                            <h4>${post.categories}</h4>
                            <p>${post.content}</p>
                        </div>`;
                }
            }); 
        }
        </script>
    </body>
</html>