<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta author="DanilD">
    <body>
        <h1>Posts</h1>
        <h2><a href="http://localhost:3000/posts/new">Добавить пост</a></h2>
        <ul>
        </ul>

        <script type="text/javascript">
        { 
            window.addEventListener('load', async () => {
                const posts = await fetch('http://localhost:3000/api/posts').then(data => data.json());
                document.querySelector('ul').innerHTML = '';
                for (let post of posts) {
                    document.querySelector('ul').innerHTML += 
                        `<li><a href='http://localhost:3000/posts/${post._id}'>${post.title}</a></li>`;
                }
            }); 
        }
        </script>
    </body>
</html>