<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta author="DanilD">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <nav>
          <ul>
            <li><a href="/">Посты</a></li>
            <li><a href="/new">Добавить пост</a></li>
          </ul>
        </nav>
        <div>
            <h1>Зайти</h1>
            <form name="edit-form" class="form-post">
                <input type="text" name="username" placeholder="Login" minlength="3" required><br>
                <input type="text" name="password" placeholder="Password" minlength="3" required><br>
                <button id="login-btn">Зайти</button>
            </form>
        </div>
        <script type="text/javascript">
        { 
            const form = document.querySelector('form');
            document.querySelector('#login-btn').addEventListener('click', async e => {
                e.preventDefault();
                const post = {
                    username: form.username.value,
                    password: form.password.value
                }
                const options = {
                    method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    mode: 'cors', // no-cors, cors, *same-origin
                    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                    headers: {
                        'Content-Type': 'application/json',
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    redirect: 'follow', // manual, *follow, error
                    referrer: 'no-referrer', // no-referrer, *client
                    body: JSON.stringify(post), // тип данных в body должен соответвовать значен    ию заголовка "Content-Type"
                } 
                await fetch('/login', options).then(data => {
                    if(data.json().success) window.location.replace('/') 
                    else alert('login went wrong') 
                });
            });
        }
        </script>
    </body>
</html>